body{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #f0f0f0;
}
.container{
    height: 800px;
    width: 1000px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) ;
    padding: 0;
    flex-wrap: wrap;
    
}

.button-container{
    background-color: blueviolet;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 20%;
    left: 70%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.button-container button{
    width: 80px;
    border-radius: 10px;
    background-color: #fff;
    color: #8a2be2;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.header{
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color:#8a2be2;
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
    color: #fff;
    margin: 0;
    display: flex;
}
.header h1{
    
    padding: 0;
    margin: 0;
    font-size: 24px;
}
.sketch{
    
    width: 600px;
    height: 600px;
    background-color: #fff;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   
   
}
.Square{
    
   flex: 1 0 auto;
    aspect-ratio: 1 /1 ;
    box-sizing: border-box;
    background-color: #ccc;
    border: 1px solid #fff;
    transition: background-color 0.3s ease;
    
}
.footer{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8a2be2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;


}
.footer h1{
    padding: 0;
    margin: 0;
    font-size: 24px;
}